/* Media Queries */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .home {
        gap: 10rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
    .header {
        padding: 3rem 8%;
    }
    .home {
        flex-direction: column;
        gap: 5rem;
        text-align: center;
    }
    .home-content {
        align-items: center;
    }
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .timeline-item:nth-child(odd) .timeline-content,
    .timeline-item:nth-child(even) .timeline-content {
        padding: 0 5%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 45%;
    }
    .header {
        padding: 3rem 5%;
    }
    .navbar a {
        margin-left: 2rem;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--second-bg-color);
        flex-direction: column;
        display: none;
    }
    .navbar a {
        display: block;
        margin: 1.5rem 0;
        text-align: center;
    }
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact form {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 40%;
    }
    .header {
        padding: 2rem 5%;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content h3 {
        font-size: 3rem;
    }
    .home-content p {
        font-size: 1.4rem;
    }
    .timeline-items::before {
        left: 5%;
    }
    .timeline-item:nth-child(odd) .timeline-content,
    .timeline-item:nth-child(even) .timeline-content {
        padding: 0 2rem;
    }
    .services-box .services-info {
        padding: 3rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 35%;
    }
    .home-content h1 {
        font-size: 4rem;
    }
    .home-content h3 {
        font-size: 2.5rem;
    }
    .timeline-items::before {
        left: 3%;
    }
    .timeline-content {
        padding: 2rem;
    }
    .services-box .services-info {
        padding: 2rem;
    }
}
